//This file is for create your style with relation on space of navbar
.navigation {
    height: 5.5rem;
    width: 100%;
    position: relative;
    overflow: hidden;
    
      
    &__logo {
        background-color: $smoky-black;
        text-transform:uppercase;
        color: $white;
        position: absolute;
        padding: 1rem 1.3rem;
        display: flex;
        
    }  
    &__container{
        float: right;
        padding: 1.2rem; 
        position: relative;
        margin-right: 2rem;
       
    }
        &__item{
            display: inline-block;  
        }
        &__link{
            text-decoration: none;
            margin: 1.5rem;  
            color: $smoky-black;
        }
}